@import url(__list/elements__list.css);
@import url(__item/elements__item.css);
@import url(__title/elements__title.css);
@import url(__author/elements__author.css);
@import url(__link/elements__link.css);
@import url(__date/elements__date.css);

.elements {
  max-width: 882px;
  margin: 0 auto;
  margin-bottom: 66px;
}
