.elements__title {
  font-family: "Inter", Arial, sans-serif;
  min-height: 30px;
  font-weight: 900;
  font-size: 35px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
