.elements__author {
  font-family: "Inter", Arial, sans-serif;
  min-height: 23px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
