.popup__button-close {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close_Icon.png);
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
}

.popup__button-close:hover {
  transition: opacity 0.3s linear;
  opacity: 0.6;
}
