.popup__item {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Inter", Arial, sans-serif;
  min-height: 30px;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  color: #000000;
  border-bottom: 1px solid #000000;
}
