.popup__title {
  min-height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  align-self: flex-start;
  padding: 34px 36px 0;
}
